#body {
	background-color:#E8D9FF;
}

#wrap {
	width:1000px;
	min-height:900px;
	margin:0 auto;
}

#header {
	width:1000px;
	min-height:200px;
	background-color:red;
}

#content {
	width:1000px;
	min-height:500px;
}

#footer {
	width:1000px;
	min-height:200px;
	background-color:blue;
}

